<!-- 页面容器 -->
{layout name="layout" /}


<div class="z-table-wrap">
    <table class="eui-table" eui="even">
        <thead>
        <tr>
            <th>序号</th>
            <th>姓名</th>
            <th>电话</th>
            <th>整体满意度</th>
            <th>报修便利</th>
            <th>现场清洁</th>
            <th>方案清晰</th>
            <th>服务态度</th>
            <th>房修师工号</th>
            <th>时间</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>
                张三
            </td>
            <td>
                18612312312
            </td>
            <td>5</td>
            <td>5</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>5415</td>
            <td>2018-04-22 10:42:22</td>
        </tr>
        </tbody>
    </table>
    <div class="eui-page" eui="text-right">
        <a class="eui-page-first" data-pages-num="1" href="javascript:;">首页</a>
        <a data-pages-num="1" class="active" href="javascript:;">1</a>
        <a data-pages-num="2" href="javascript:;">2</a>
        <a data-pages-num="3" href="javascript:;">3</a>
        <a class="eui-page-next" data-pages-num="2" href="javascript:;">下一页</a>
        <a class="eui-page-last" data-pages-num="17" href="javascript:;">末页</a>
    </div>
</div>