<!-- 页面容器 -->
<div class="z-table-wrap">
    <table class="eui-table" eui="even">
        <thead>
        <tr>
            <th>序号</th>
            <th>姓名</th>
            <th>电话</th>
            <th>表扬信息</th>
            <th>图片</th>
            <th>时间</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>
                张三
            </td>
            <td>
                18612312312
            </td>
            <td>
                <div class="z-table-w350">噶速度就那个卡顺便打个卡不是的开发把思考你的贵宾卡事不过三变得更噶速度就那个卡顺便打个卡不是的开发把思考你的贵宾卡事不过三变得更噶速度就那个卡顺便打个卡不是的开发把思考你的贵宾卡事不过三变得更</div>
            </td>
            <td>
                <a class="z-show-img z-crest">
                    <img src="images/new-logo.png">
                </a>
            </td>
            <td>
                2018-04-22 10:33:22
            </td>
        </tr>
        </tbody>
    </table>
    <div class="eui-page" eui="text-right">
        <a class="eui-page-first" data-pages-num="1" href="javascript:;">首页</a>
        <a data-pages-num="1" class="active" href="javascript:;">1</a>
        <a data-pages-num="2" href="javascript:;">2</a>
        <a data-pages-num="3" href="javascript:;">3</a>
        <a class="eui-page-next" data-pages-num="2" href="javascript:;">下一页</a>
        <a class="eui-page-last" data-pages-num="17" href="javascript:;">末页</a>
    </div>
</div>