<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="webkit" name="renderer" /> <!-- 360急速模式-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="__ADMIN__/images/favicon.png" type="image/x-icon">
    <title>登录 - 中国金茂</title>
    <link rel="stylesheet" href="__ADMIN__/eui/less/eui.css">
    <link rel="stylesheet" href="__ADMIN__/css/login.css">
    <script src="__ADMIN__/eui/js/jquery-2.1.4.min.js"></script>
    <script src="__ADMIN__/eui/js/eui.js"></script>
</head>
<body>
    <div class="login-wrap">
        <div class="login-main">
            <div class="login-mascot">
                <div class="open-eye">
                    <span class="eye-left"></span>
                    <span class="eye-right"></span>
                </div>
                <div class="close-eye"></div>
            </div>
            <div class="logo"></div>
            <form id="mylogin" accept-charset="UTF-8" action="" method="post" autocomplete="off" class="home-hero-signup js-signup-form" >
                <label class="login-label">
                    <i class="eui-icon-people"></i>
                    <input class="user eui-ipt" value="" name="username" type="text" placeholder="请输入用户名">
                </label>
                <label class="login-label">
                    <i class="eui-icon-lock"></i>
                    <input class="pswd eui-ipt" name="password" type="password" placeholder="请输入密码" value="">
                </label>
               <!-- <label class="login-label">
                    <i class="eui-icon-picture"></i>
                    <input class="code eui-ipt" type="text" maxlength="4" name="code" placeholder="请输入验证码">
                    <img class="verify" src="" alt="图形验证码">
                </label>-->
                <button class="submit eui-btn" eui="primary" type="button">登录</button>
            </form>
        </div>
    </div>
</body>
</html>
<script>

</script>