<!DOCTYPE html>
<html>
<head>
    <meta content="webkit" name="renderer" /><!-- 360急速模式-->
    <meta charset="utf-8" />
    <title>应用管理 - 哈芙琳</title>
    <meta name="description" content="buttons" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="__ADMIN__/images/favicon.png" type="image/x-icon">
    <!-- eui -->
    <link rel="stylesheet" href="__ADMIN__/eui/less/eui.css" />
    <link rel="stylesheet" href="__ADMIN__/eui/iconfont/iconfont.css" />
    <script src="__ADMIN__/eui/js/jquery-2.1.4.min.js"></script>
    <script src="__ADMIN__/eui/js/eui.js"></script>
    <link rel="stylesheet" href="__ADMIN__/css/style.css">
    <!-- eui end -->
</head>
<body>
<!-- 页头 -->
<div class="z-header" eui="clearfix">
    <div class="z-logo" eui="pull-left"></div>
    <div class="z-user" eui="pull-right">
        <a class="z-user-out" data-out="" href="javascript:;"><i class="eui-icon-tuichu"></i></a>
    </div>
</div>
<div class="z-nav-wrap z-open">
    <ul class="z-nav-list z-open">
        <li>
            <a href="javascript:;">
                <i class="eui-icon-document"></i>
                <span>项目列表</span>
            </a>
            <div class="z-subnav">
                <a data-tabwin-open="/module/xiaoqu/index.html" href="javascript:;">项目列表</a>
            </div>
        </li>
        <li>
            <a href="javascript:;">
                <i class="eui-icon-document"></i>
                <span>会员信息</span>
            </a>
            <div class="z-subnav">
                <a data-tabwin-open="/module/user/index.html" href="javascript:;">会员信息</a>
            </div>
        </li>
        <li>
            <a href="javascript:;">
                <i class="eui-icon-document"></i>
                <span>报修信息</span>
            </a>
            <div class="z-subnav">
                <a data-tabwin-open="/module/baoxiu/index.html" href="javascript:;">报修信息</a>
            </div>
        </li>
        <li>
            <a href="javascript:;">
                <i class="eui-icon-document"></i>
                <span>评价信息</span>
            </a>
            <div class="z-subnav">
                <a data-tabwin-open="/module/pingjia/index.html" href="javascript:;">评价信息</a>
            </div>
        </li>
        <li>
            <a href="javascript:;">
                <i class="eui-icon-document"></i>
                <span>表扬与投诉</span>
            </a>
            <div class="z-subnav">
                <a data-tabwin-open="/module/tousu/praise.html" href="javascript:;">表扬信息</a>
                <a data-tabwin-open="/module/tousu/index.html" href="javascript:;">投诉信息</a>
            </div>
        </li>
        <li>
            <a href="javascript:;">
                <i class="eui-icon-document"></i>
                <span>系统设置</span>
            </a>
            <div class="z-subnav">
                <a data-tabwin-open="/module/shezhi/index.html" href="javascript:;">管理员</a>
            </div>
        </li>
    </ul>
</div>
<div class="z-main-wrap z-open">
    <div class="z-main-tab">
        <a class="eui-icon-return z-main-tab-btn" href="javascript:;"></a>
        <div class="z-main-tab-list"></div>
        <a class="eui-icon-enter z-main-tab-btn" href="javascript:;"></a>
    </div>
    <div class="z-main-context"></div>
    <a class="eui-icon-undo z-tabwin-return"></a>
</div>
</body>
</html>
<!-- new 核心js文件 -->
<script src="__ADMIN__/js/script.js"></script>