{layout name="layout" /}
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">评价信息</a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form id="myform" class="layui-form layui-col-md12 x-so">
            <div class="layui-input-inline">
                <select id="xiaoqu" lay-filter="test" name="pro">
                    <option value="请选择小区">请选择小区</option>
                    <?php foreach($project_list as $pv): ; ?>
                        <option <?php if(isset($pro)&&$pro==$pv)  echo 'selected';  ?> value="{$pv}">{$pv}</option>
                    <?php endforeach ; ?>
                </select><div class="layui-unselect layui-form-select"><div class="layui-select-title"><input placeholder="订单状态" value="" readonly="" class="layui-input layui-unselect" type="text"><i class="layui-edge"></i></div></div>
            </div>

            <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>
    <button id="exportss" class="layui-btn"><i class="layui-icon"></i>导出报修信息</button>
    <table class="layui-table">
        <thead>
        <tr>
            <!--<th>
                <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>-->
            <th>序号</th>
            <th>小区</th>
            <th>姓名</th>
            <th>电话</th>
            <th>整体满意度</th>
            <th>报修便利</th>
            <th>现场清洁</th>
            <th>方案清晰</th>
            <th>服务态度</th>
            <th>房修师工号</th>
            <td>评价总分</td>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <?php $index=0; foreach($datas as  $v): ; ?>
            <tr>
                <?php $index++ ; ?>
                <!-- <td>
                     <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>
                 </td>-->
                <td>{$index}</td>
                <td>{$v.repair.project.project_name}</td>
                <td>{$v.user.name}</td>
                <td>{$v.user.phone}</td>
                <td>{$v.satisfy}</td>
                <td>{$v.convenient}</td>
                <td>{$v.clean}</td>
                <td>{$v.plan}</td>
                <td>{$v.serviece}</td>
                <td>{$v.repair_man_id}</td>
                <td>{$v.satisfy+$v.convenient+$v.clean+$v.plan+$v.serviece}</td>
                <td class="td-manage">

                    <a title="删除" onclick="member_dels(this,'{$v.id}')" href="javascript:;">
                        <i class="layui-icon">&#xe640;</i>
                    </a>
                </td>


            </tr>
        <?php endforeach ; ?>
        </tbody>
    </table>
    <div class="page">
        <?php echo $page ; ?>
        <!-- <div>
             <a class="prev" href="">&lt;&lt;</a>
             <a class="num" href="">1</a>
             <span class="current">2</span>
             <a class="num" href="">3</a>
             <a class="num" href="">489</a>
             <a class="next" href="">&gt;&gt;</a>
         </div>-->
    </div>

</div>
<script>
    $('#export').click(function () {
        $('#file').click();

    })
    $('#file').change(function () {
        $('#myform').submit();
    });

    $('#exports').click(function () {
        window.location.href='{:url("admin/User/export")}';
    });

    $(function  () {
        layui.use('form', function(){
            var form = layui.form;
            // layer.msg('玩命卖萌中', function(){
            //   //关闭后的操作
            //   });
            //监听提交

            form.on('select(test)', function(data){
                $('#myform').submit();
            });
        });
    })
    function member_dels(obj,id){

        layer.confirm('确认要删除吗？',function(index){

            //发异步删除数据
            $.ajax({
                type: "get",
                url: "{:url('admin/Zone/delZone')}",
                data: {id:id},
                dataType: "json",
                success: function(data){
                    if(data.code==1){
                        $(obj).parents("tr").remove();

                        layer.msg(data.msg,{icon:1,time:1000});
                    }else{
                        layer.msg(data.msg,{icon:1,time:1000});
                    }
                }
            });


        });

    }
    $('#exportss').click(function () {

        url='<?php echo $export_str ; ?>';

        window.location.href=url;
    });
    function zhuanyi (str){
        var s = "";
        if(str.length == 0) return "";

        s = str.replace("&amp;",'&');
        s = s.replace(/</g,"&lt;");
        s = s.replace(/>/g,"&gt;");
        s = s.replace(/ /g,"&nbsp;");
        s = s.replace(/\'/g,"&#39;");
        s = s.replace(/\"/g,"&quot;");
        return s;
    }
</script>