<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="target-densitydpi=device-dpi,width=640,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <meta name="format-detection" content="adress=no"/>

    <title>会员认证</title>
    <link rel="stylesheet" href="__STATIC__/css/style.css">
    <link rel="stylesheet" href="__STATIC__/iconfont/iconfont.css">
    <script src="__STATIC__/js/jquery.min.js"></script>
</head>
<body>
<div class="wrap login">
    <div class="logo"></div>
    <form class="login-form">
        <div>
            <input class="url" value="{$url}" name="url" type="hidden" >
            <i class="iconfont icon-people"></i>
            <input class="certificate" name="name" type="text" placeholder="请输入房产证姓名">
        </div>
        <div>
            <i class="iconfont icon-businesscard"></i>
            <input class="idcard" type="text" name="idcard" placeholder="请输入您的证件号">
        </div>
        <div>
            <i class="iconfont icon-mobilephone"></i>
            <input class="phone" name="tel" type="tel" maxlength="11" placeholder="请输入您的手机号">
        </div>
        <div class="text-right">
            <span>
                <input class="agreement" checked type="checkbox">
                <b class="iconfont"></b>
            </span>
            <a class="agreement-btn" href="javascript:;">我同意入会认证协议</a>
        </div>
        <input class="openid" name="openid" value="{$openid}" type="hidden">
    </form>
    <div class="btn">

        <a class="bg-color1 submit" href="javascript:;">马上认证</a>
    </div>
</div>
<div class="agreement-info">
    <h1 class="text-center">入会协议</h1>
    <div class="info-wrap">
        <div class="main">
                阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬阿斯顿发斯蒂芬
        </div>
    </div>
    <div class="btn-sm bottom">
        <a class="bg-color3 yes" href="javascript:;">同意</a>
        <a class="bg-color2 not" href="javascript:;">不同意</a>
    </div>
</div>
<div class="wrap prompt hide">
    <i class="iconfont icon-icon-success"></i>
    <h1 class="tit">恭喜您</h1>
    <p class="info">入会认证成功</p>
    <a class="type-login bottom" href="tel:1234567">如有问题请联系我们</a>
</div>
</body>
</html>
<script src="__STATIC__/js/script.js"></script>
<script>
    var is_login={$is_login};///1已经注册 0未注册
    if(is_login==1) $('.prompt').show();
    $('.agreement-btn').click(function(){
        $('.agreement-info').addClass('on');
    });
    $('.agreement-info a.yes').click(function(){
        $('input[type=checkbox]').prop("checked", true);
        $('.agreement-info').removeClass('on');
    });
    $('.agreement-info a.not').click(function(){
        $('input[type=checkbox]').prop("checked", false);
        $('.agreement-info').removeClass('on');
    });

    // 提交
    $('.submit').click(function(){
        if($('input[type=checkbox]').prop("checked")==false) return alert('请先阅读并同意入会协议!');
         var phone=$('.phone').val();
         var idcard=$('.idcard').val();
         var certificate=$('.certificate').val();
         if(!certificate) return alert('请填写房产证上的姓名!');
         if(!idcard) return alert('请填写证件号!');
         if(isNaN(phone) || phone.length!=11) return alert('请检查手机号是否正确!');

        // 提交
        Ajax('{:url("index/index/doLogin")}');
    });
</script>