<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="target-densitydpi=device-dpi,width=640,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <meta name="format-detection" content="adress=no"/>

    <title>我要表扬</title>
    <link rel="stylesheet" href="__STATIC__/css/style.css">
    <link rel="stylesheet" href="__STATIC__/iconfont/iconfont.css">
    <script src="__STATIC__/js/jquery.min.js"></script>
</head>
<body>
<div class="wrap">
    <div class="head"></div>
    <ul class="list">
        <li>
            <a href="javascript:;">
                我的房产
                <select name="project_id">
                    <?php foreach($datas as $v): ; ?>
                    <option  value="<?php echo $v->id ; ?>"><?php echo $v->house_number ; ?></option>
                   <?php endforeach ; ?>
                </select>
            </a>
        </li>
        <li class="project"></li>
        <li>
            <label>表扬说明</label>
            <textarea class="note" name="note" cols="30" rows="3"></textarea>
        </li>
        <li class="update">
            <label>上传照片</label>
            <div class="img-list">
                <div class="img-item">
                    <i class="iconfont icon-add"></i>
                </div>
                <div class="img-item">
                    <i class="iconfont icon-add"></i>
                </div>
                <div class="img-item">
                    <i class="iconfont icon-add"></i>
                </div>
                <div class="img-item">
                    <i class="iconfont icon-add"></i>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list">
        <li>
            <label>联系人</label>
            <input class="name" name="name" type="text">
        </li>
        <li>
            <label>联系电话</label>
            <input class="phone" name="phone" maxlength="11" type="tel">

            <input class="openid" name="openid" value="{$openid}"  type="hidden">
            <input  name="type" value="1"  type="hidden">
        </li>
    </ul>
    <div class="btn">
        <a class="bg-color1 submit" href="javascript:;">提交</a>
    </div>
</div>
<div class="wrap prompt hide">
    <i class="iconfont icon-icon-success"></i>
    <h1 class="tit">感谢您的评价</h1>
    <p class="info">你的支持将是我们前进的动力</p>
</div>
</body>
</html>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="__STATIC__/js/script.js"></script>
<script>
    // 提交
    $('.submit').click(function(){
         var note=$('.note').val();
         var name=$('.name').val();
         var phone=$('.phone').val();
         if(!note) return alert('请填写表扬说明!');
         if(!name) return alert('请填写联系人!');
         if(!phone) return alert('请填写联系电话!');
        Ajax('/index/index/doSuggestion','img');
    });

    
// 微信上传图片

wx.config({
    debug: false,
    appId: '<?php echo $signPackage["appId"];?>',
    timestamp: '<?php echo $signPackage["timestamp"];?>',
    nonceStr: '<?php echo $signPackage["nonceStr"];?>',
    signature: '<?php echo $signPackage["signature"];?>',
    jsApiList: [
        'chooseImage',
        'uploadImage'
    ]
});

wx.ready(function () {
    $('.img-list .img-item').click(function(){
        var that=$(this);
        var imgid='';
        wx.chooseImage({
            count: 1, // 默认9
            sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
            sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
            success: function (res) {
                imgid = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                that.html('<div class="img-show"><img src="'+imgid+'"></div>');
                wx.uploadImage({
                    localId: imgid.toString(), // 需要上传的图片的本地ID，由chooseImage接口获得
                    isShowProgressTips: 1, // 默认为1，显示进度提示
                    success: function (res) {
                        var serverId = res.serverId; // 返回图片的服务器端ID
                        imgArr.push(serverId);
                    }
                });
            }
        });
    });
});
</script>