<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="target-densitydpi=device-dpi,width=640,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <meta name="format-detection" content="adress=no"/>

    <title>我要表扬</title>
    <link rel="stylesheet" href="__STATIC__/css/style.css">
    <link rel="stylesheet" href="__STATIC__/iconfont/iconfont.css">
    <script src="__STATIC__/js/jquery.min.js"></script>
</head>
<body>
<div class="wrap">
    <div class="head"></div>
    <ul class="list">
        <li>
            <label>表扬说明</label>
            <textarea class="note" cols="30" rows="3"></textarea>
        </li>
        <li class="update">
            <label>上传照片</label>
            <div class="img-list">
                <div class="img-item">
                    <i class="iconfont icon-close"></i>
                    <div class="img-show">
                        <img src="https://gss0.baidu.com/7LsWdDW5_xN3otqbppnN2DJv/dmas/pic/item/fb22720e0cf3d7ca9b75fde3fa1fbe096a63a9a1.jpg">
                    </div>
                </div>
                <div class="img-item">
                    <i class="iconfont icon-add"></i>
                </div>
                <div class="img-item">
                    <i class="iconfont icon-add"></i>
                </div>
                <div class="img-item">
                    <i class="iconfont icon-add"></i>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list">
        <li>
            <label>联系人</label>
            <input class="name" type="text">
        </li>
        <li>
            <label>联系电话</label>
            <input class="phone" maxlength="11" type="tel">
        </li>
    </ul>
    <div class="btn bottom">
        <a class="bg-color1 submit" href="javascript:;">提交</a>
    </div>
</div>
<div class="wrap prompt hide">
    <i class="iconfont icon-icon-success"></i>
    <h1 class="tit">感谢您的评价</h1>
    <p class="info">你的支持将是我们前进的动力</p>
    <div class="type-repair btn bottom">
        <a class="bg-color1" href="/repair/evaluation.html">待评价</a>
    </div>
</div>
</body>
</html>
<script src="__STATIC__/js/script.js"></script>
<script>
    // 提交
    $('.submit').click(function(){
        // var note=$('.note').text();
        // var name=$('.name').val();
        // var phone=$('.phone').val();
        // if(!note) return alert('请填写表扬说明!');
        // if(!name) return alert('请填写联系人!');
        // if(!phone) return alert('请填写联系电话!');
        Ajax('url');
    });
</script>