<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="target-densitydpi=device-dpi,width=640,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <meta name="format-detection" content="adress=no"/>

    <title>我要评价</title>
    <link rel="stylesheet" href="__STATIC__/css/style.css">
    <link rel="stylesheet" href="__STATIC__/iconfont/iconfont.css">
</head>
<body>
<div class="wrap prompt">
    <i class="iconfont icon-icon-success"></i>
    <h1 class="tit">报修提交成功</h1>
    <p class="info">请保持手机畅通</p>
    <p class="num">我们将与你取得联系</p>
    <div class="type-repair btn bottom">
        <a class="bg-color1" href="/index/index/evaluation?repair_id={$repair_id}">待评价</a>
    </div>
</div>
</body>
</html>