<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="target-densitydpi=device-dpi,width=640,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <meta name="format-detection" content="adress=no"/>

    <title>表扬与投诉</title>
    <link rel="stylesheet" href="__STATIC__/css/style.css">
    <link rel="stylesheet" href="__STATIC__/iconfont/iconfont.css">
    <script src="__STATIC__/js/jquery.min.js"></script>
</head>
<body>
<div class="wrap prompt" style="padding: 0;">
    <div class="suggestion">
        <p>您的宝贵意见</p>
        <p>是我们进步的最大动力</p>
    </div>
    <div class="btn-sm bottom">
        <a class="bg-color1" href="/index/index/praise?openid={$openid}">我要表扬</a>
        <a class="bg-color2" href="/index/index/complaints?openid={$openid}">我要投诉</a>
    </div>
</div>
</body>
</html>