<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="target-densitydpi=device-dpi,width=640,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <meta name="format-detection" content="adress=no"/>

    <title>活动预约</title>
    <link rel="stylesheet" href="__STATIC__/css/style.css">
    <link rel="stylesheet" href="__STATIC__/iconfont/iconfont.css">
    <script src="__STATIC__/js/jquery.min.js"></script>
</head>
<body>
<div class="wrap">
    <div class="head"></div>
    <ul class="list">
        <li>
            <a href="javascript:;">
                我的房产
                <select name="project_id">
                    <?php foreach($datas as $v): ; ?>
                        <option  value="<?php echo $v->id ; ?>"><?php echo $v->house_number ; ?></option>
                    <?php endforeach ; ?>
                </select>
            </a>
        </li>
        <li class="project"></li>
    </ul>

</div>
<div class="wrap">
    <div class="head"></div>
    <ul class="list">
        <li>
            <label>活动时间</label>
            <span>{$yu_yue['start_time']}-{$yu_yue['end_time']}</span>
        </li>
        <li>
            <label>活动地点</label>
            <span>{$yu_yue['area']}</span>
        </li>
        <li>
            <label>参与对象</label>
            <span>{$yu_yue['object']}</span>
        </li>
        <li>
            <label>活动地点</label>
            <div>{$yu_yue['place']}</div>
        </li>
    </ul>
    <ul class="list">
        <li>
            <label>预约时段</label>
            <ul class="time">

                <?php foreach($yu_yue['period'] as $v): ; ?>
                <li>
                    <h2>{$v['start_time']}-{$v['end_time']}</h2>
                    <p>
                        <?php   $a= $v['people']-$v['booking_people'] ; echo '剩余'.$a.'人' ?>
                    </p>
                </li>
                <?php endforeach ; ?>
            </ul>
        </li>
    </ul>
    <div class="btn">
        <a class="bg-color1 submit" href="javascript:;">预约活动时间</a>
    </div>
</div>
<div class="wrap prompt hide">
    <i class="iconfont icon-icon-success"></i>
    <h1 class="tit">报修提交成功</h1>
    <p class="info">请保持手机畅通</p>
    <p class="num">我们将与你取得联系</p>
    <!--  <div class="type-repair btn bottom">
        <a class="bg-color1" href="/index/index/evaluation?repair_id=3">待评价</a>
    </div>-->
</div>
</body>
</html>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="__STATIC__/js/script.js"></script>
<script>
    // 提交
    $('.submit').click(function(){
        Ajax('{:url("index/index/doRepair")}','img');
    });

</script>