<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="target-densitydpi=device-dpi,width=640,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <meta name="format-detection" content="adress=no"/>

    <title>活动预约</title>
    <link rel="stylesheet" href="__STATIC__/css/style.css">
    <link rel="stylesheet" href="__STATIC__/iconfont/iconfont.css">
    <script src="__STATIC__/js/jquery.min.js"></script>
</head>
<body>
<div class="wrap">
    <div class="head"></div>
    <ul class="list">
        <li>
            <a href="javascript:;">
                我的房产
                <select name="project_id">
                    <?php foreach($datas as $v): ; ?>
                        <option  value="<?php echo $v->id ; ?>"><?php echo $v->house_number ; ?></option>
                    <?php endforeach ; ?>
                </select>
            </a>
        </li>
        <li class="project"></li>
    </ul>
    <ul class="list">
        <li>
            <label>活动时间</label>
            <span>2018-04-20 至 2018-04-22</span>
            <!-- <span>{$yu_yue['start_time']} 至 {$yu_yue['end_time']}</span> -->
        </li>
        <li>
            <label>活动地点</label>
            <span>{$yu_yue['area']}</span>
        </li>
        <li>
            <label>参与对象</label>
            <span>{$yu_yue['object']}</span>
        </li>
        <li>
            <label>活动地点</label>
            <div>{$yu_yue['place']}</div>
        </li>
    </ul>
    <ul class="list">
        <li>
            <label>到访人数</label>
            <input type="text" value="" placeholder="请输入到访人数">
        </li>
        <li>
            <label>预约日期</label>
            <input class="time" name="time" type="date">
        </li>
        <li>
            <label>预约时段</label>
            <ul class="times">
                <?php foreach($yu_yue['period'] as $v): ; ?>
                <!-- class="ban" 禁用-->
                <li>
                    <!-- <h2>{$v['start_time']}-{$v['end_time']}</h2> -->
                    <h2>10:00-11:00</h2>
                    <p>
                        <?php $a= $v['people']-$v['booking_people'] ; echo '剩余'.$a.'组名额' ?>
                    </p>
                </li>
                <?php endforeach ; ?>
            </ul>
        </li>
    </ul>
    <div>
        <p>尊敬的业主</p>
        <p>请您再次确认预约时间一经确认提交</p>
        <p>将无法修改</p>
    </div>
    <div class="btn">
        <a class="bg-color1 submit" href="javascript:;">预约活动时间</a>
    </div>
</div>
<div class="wrap hide prompt">
    <i class="iconfont icon-icon-success"></i>
    <h1 class="tit">预约成功</h1>
    <p class="info">您预约的时间是</p>
    <p class="num"></p>
</div>
</body>
</html>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="__STATIC__/js/script.js"></script>
<script>
    // 提交
    $('.submit').click(function(){
        Ajax('{:url("index/Reservation/reservationTime")}','reservation');
    });
    $('.times li').click(function(){
        if($(this).hasClass('ban')) return;
        $(this).siblings().removeClass('on');
        $(this).addClass('on');
    });
</script>