<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="target-densitydpi=device-dpi,width=640,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <meta name="format-detection" content="adress=no"/>

    <title>活动预约</title>
    <link rel="stylesheet" href="__STATIC__/css/style.css">
    <link rel="stylesheet" href="__STATIC__/iconfont/iconfont.css">
    <script src="__STATIC__/js/jquery.min.js"></script>
</head>
<body>
<div class="wrap">
    <div class="reservation"></div>
    <ul class="list">
        <li>
            <a href="javascript:;">
                我的房产
                <select name="project_id">
                    <?php foreach($datas as $v): ; ?>
                        <option  value="<?php echo $v->id ; ?>"><?php echo $v->house_number ; ?></option>
                    <?php endforeach ; ?>
                </select>
            </a>
        </li>
        <li class="project"></li>
    </ul>
    <ul class="list">
        <li>
            <label>活动时间</label>
            <span>{$yu_yue['start_time']} 至 {$yu_yue['end_time']}</span>
        </li>
        <li>
            <label>活动地点</label>
            <span>{$yu_yue['area']}</span>
        </li>
        <li>
            <label>参与对象</label>
            <span>{$yu_yue['object']}</span>
        </li>
        <li>
            <label>活动地点</label>
            <div>{$yu_yue['detail']}</div>
        </li>
    </ul>
    <ul class="list">
        <li>
            <label>到访人数</label>
            <input type="text" name="number" value="" placeholder="请输入到访人数">
        </li>
        <li>
            <label>预约日期</label>
            <span class="time-show"></span>
            <select class="time" style="
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 80px;
                opacity: 0;
            " name="time" type="date">
                <option value="false">请选择</option>
            </select>
        </li>
        <li>
            <label>预约时段</label>
            <ul class="times">
                <p style="font-size: 28px; ">请先选择预约日期</p>
            </ul>
        </li>
    </ul>
    <input type="hidden" name="user_id" value="15">
    <div class="reservation-info">
        <p>尊敬的业主</p>
        <p>请您再次确认预约时间一经确认提交</p>
        <p>将无法修改</p>
    </div>
    <div class="btn">
        <a class="bg-color1 submit" href="javascript:;">预约活动时间</a>
    </div>
</div>
<div class="wrap hide prompt">
    <i class="iconfont icon-icon-success"></i>
    <h1 class="tit">预约成功</h1>
    <p class="info">您的预约时间是</p>
    <p class="num"></p>
</div>
</body>
</html>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="__STATIC__/js/script.js"></script>
<script>
    // 提交
    $('.submit').click(function(){
        if(!$('[name=number]').val()) return alert('请填写到访人数！');
        if(!$('[name=time]').val() && $('[name=time]').val()!='false') return alert('请填选择预约日期！');
        if(!$('.times .on').length) return alert('请填选择预约时段！');
        $('.prompt .num').html($('.time').val()+'<br>'+$('.times .on h2').text());
        Ajax('{:url("index/Reservation/reservationTime")}','reservation');
    });
    $('.times li').click(function(){
        if($(this).hasClass('ban')) return;
        $(this).siblings().removeClass('on');
        $(this).addClass('on');
    });
    $(document).on('click','.times li',function(){
        if($(this).hasClass('ban')) return;
        $('.times li').removeClass('on');
        $(this).addClass('on');
    });
    // 限定时间-提交时间
    var state=false;
    $('.time')
    .change(function(){
        if(state) return;
        state=true;
        var time=$(this).val();
        $('.time-show').text(time);
        $.ajax({
            url:'{:url("index/Reservation/getPeople")}',
            data:{time:time},
            success:function(res){
                state=false;
                if(res.code==1){
                    var html='';
                    res.data.forEach(function (t) {
                        var ban=Number(t.people)-Number(t.booking_people);
                        var num=ban;
                        if(ban<1) ban='ban';
                        html+=`
                        <li class="${ban}" data-id="${t.id}">
                            <h2>${t.start_time}<br>${t.end_time}</h2>
                            <p>
                                剩余${num}组名额
                            </p>
                        </li>
                        `;
                    });
                    $('.times').html(html);
                }
            },
            error:function(){
                state=false;
                alert('系统繁忙，请稍后再试！')
            }
        })
    });
    // 循环获取活动有效日期
    var allTime=[];
    function getAll(begin, end) {
        var ab = begin.split("-");
        var ae = end.split("-");
        var db = new Date();
        db.setUTCFullYear(ab[0], ab[1] - 1, ab[2]);
        var de = new Date();
        de.setUTCFullYear(ae[0], ae[1] - 1, ae[2]);
        var unixDb = db.getTime();
        var unixDe = de.getTime();
        for (var k = unixDb; k <= unixDe;) {
            var t=new Date(k);
            allTime.push(t.getFullYear()+'-'+(t.getMonth()+1)+'-'+t.getUTCDate());
            k = k + 24 * 60 * 60 * 1000;
        }
    }
    getAll('{$yu_yue['start_time']}', '{$yu_yue['end_time']}');

    var timeOption='';
    allTime.forEach(function(t){
        timeOption+=`
            <option value="${t}">${t}</option>
        `
    });
    $('.time').append(timeOption)

</script>