<form class="eui-form">
    <div class="eui-form-main">
        <label class="eui-form-label">会员姓名</label>
        <div class="eui-form-item">
            <input eui-rule="required" placeholder="请输入会员姓名" class="eui-ipt" value="" name="name">
        </div>
    </div>
    <div class="eui-form-main">
        <label class="eui-form-label">联系电话</label>
        <div class="eui-form-item">
            <input eui-rule="required" maxlength="11" placeholder="请输入联系电话" class="eui-ipt" value="" name="name">
        </div>
    </div>
    <div class="eui-form-main">
        <label class="eui-form-label">证件号</label>
        <div class="eui-form-item">
            <input eui-rule="required" placeholder="请输入证件号" class="eui-ipt" value="" name="name">
        </div>
    </div>
    <div class="eui-form-main">
        <label class="eui-form-label">房产信息</label>
        <div class="eui-form-item">
            <table class="eui-table table-no-num user-fangchan">
                <thead>
                <tr>
                    <th>项目</th>
                    <th>室号</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <select class="eui-linkage">
                            <option value="0">请选择</option>
                            <option value="1">上海某某某小区</option>
                            <option value="1">上海某某某小区</option>
                            <option value="1">上海某某某小区</option>
                        </select>
                    </td>
                    <td>
                        <input placeholder="请输入详细室号" class="eui-ipt" value="">
                    </td>
                    <td>
                        <a class="eui-btn tianjia-fangchan" eui="primary" href="javascript:;">添加</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="eui-form-main">
        <div class="eui-form-item">
            <button type="button" class="eui-btn z-submit-btn" eui="primary">添加</button>
            <button type="button" class="eui-btn eui-layer-shut">取消</button>
        </div>
    </div>
</form>
<script>
    submit({
        validate:true,
        url:"url"
    });
</script>