{layout name="layout" /}
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">会员信息</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" action="{:url('admin/user/index')}" method="get">
            <div class="layui-input-inline">
                <select id="xiaoqu" lay-filter="test"> name="pro">
                    <option value="请选择小区">请选择小区</option>
                    <?php foreach($project_list as $pv): ; ?>
                        <option<?php if(isset($pro)&&$pro==$pv)  echo 'selected';  ?> value="{$pv}">{$pv}</option>
                    <?php endforeach ; ?>
                </select><div class="layui-unselect layui-form-select"><div class="layui-select-title"><input placeholder="订单状态" value="" readonly="" class="layui-input layui-unselect" type="text"><i class="layui-edge"></i></div></div>
            </div>

            <div class="layui-input-inline">
                <select id="dad" name="con">
                    <option  <?php if(isset($con)&&$con=='con') echo 'selected'  ; ?> value="con">搜索条件</option>
                    <option <?php if(isset($con)&&$con=='name') echo 'selected'  ; ?> value="name">姓名</option>
                    <option <?php if(isset($con)&&$con=='phone') echo 'selected'  ; ?> value="phone">手机号</option>
                    <option <?php if(isset($con)&&$con=='project_name') echo 'selected'  ; ?> value="project_name">小区名</option>
                    <option <?php if(isset($con)&&$con=='city') echo 'selected'  ; ?> value="city">城市</option>
                </select>
            </div>


            <input type="text" name="keyword" value="<?php if(isset($keyword)) echo $keyword ; ?>"  placeholder="请输入关键词" autocomplete="off" class="layui-input">
            <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>
    <xblock>
        <!--<button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>-->
        <button class="layui-btn" onclick="x_admin_show('添加用户','/admin/user/add')"><i class="layui-icon"></i>添加</button>
        <form id="myform" action="{:url('admin/user/exports')}" style="display: none" class="layui-form" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="file"  >
        </form>

        <button id="export" class="layui-btn"><i class="layui-icon"></i>批量导入用户</button>
        <button id="exports" class="layui-btn"><i class="layui-icon"></i>导出会员信息</button>
        <span class="x-right" style="line-height:40px">共有数据：{$datas->total()} 条</span>
    </xblock>


    <table class="layui-table">
        <thead>
        <tr>
            <!--<th>
                <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>-->
            <th>序号</th>
            <th>姓名</th>
            <th>电话</th>
            <th>证件号</th>
            <th>城市</th>
            <th>小区</th>
            <th>室号</th>
            <th>操作</th>

        </tr>
        </thead>
        <tbody>
        <?php $index=0; foreach($datas as  $v): ; ?>
        <tr>
        <?php $index++ ; ?>

           <!-- <td>
                <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>
            </td>-->
            <td>{$index}</td>
            <td>{$v.user.name}</td>
            <td>{$v.user.phone}</td>
            <td>{$v.user.id_number}</td>
            <td>{$v.city}</td>
            <td>{$v.project_name}</td>
            <td>{$v.house_number}</td>

            <td class="td-manage">
                <a title="查看"  onclick="x_admin_show('编辑','/admin/user/edit?project_id={$v.id}')" href="javascript:;">
                    <i class="layui-icon">&#xe642;</i>
                </a>
                <a title="添加"  onclick="x_admin_show('添加项目','/admin/user/addProject?user_id={$v.user.id}')" href="javascript:;">
                    <i class="layui-icon">&#xe654;</i>
                </a>
                <!-- <a title="删除" onclick="member_del(this,'')" href="javascript:;">
                    <i class="layui-icon">&#xe640;</i>
                </a>-->
            </td>
        </tr>
        <?php endforeach ; ?>
        </tbody>
    </table>
    <div class="page">
      <?php echo $page ; ?>
       <!-- <div>
            <a class="prev" href="">&lt;&lt;</a>
            <a class="num" href="">1</a>
            <span class="current">2</span>
            <a class="num" href="">3</a>
            <a class="num" href="">489</a>
            <a class="next" href="">&gt;&gt;</a>
        </div>-->
    </div>

</div>
<script>
    $('#export').click(function () {
        $('#file').click();

    });
    $('#file').change(function () {


        $('#myform').submit();
    });

    $('#exports').click(function () {

var url=zhuanyi('{$export_str}');

        window.location.href=url;
    });

    $(document).on('change','#selects',function(){
       var v=$(this).find('option:selected').val();


    });
    $(function  () {
        layui.use('form', function(){
            var form = layui.form;
            // layer.msg('玩命卖萌中', function(){
            //   //关闭后的操作
            //   });
            //监听提交

            form.on('select(test)', function(data){
                window.location.href="/admin/User/index?pro="+data.value;
            });
        });
    })
    function zhuanyi (str){
        var s = "";
        if(str.length == 0) return "";

        s = str.replace("&amp;",'&');
        s = s.replace(/</g,"&lt;");
        s = s.replace(/>/g,"&gt;");
        s = s.replace(/ /g,"&nbsp;");
        s = s.replace(/\'/g,"&#39;");
        s = s.replace(/\"/g,"&quot;");
        return s;
    }
</script>